body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation {
    display: flex;
    border: 2px solid red;
    justify-content: center;
    margin: 0 12%;
    
}
.website-nav {
    display: flex;
    margin: 0;
}
div input{
    border: 0;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: #F1F1F1;
    
}
div ul {
    list-style-type: none;
    
}
div ul li {
    padding: 0px 10px;
}
ul li a{
    text-decoration: none;
    color: #707070;
}
.nav-content {
    padding: 20px 40px;
}
.tv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEEAE9;
    margin: 80px 10%;
    border: 2px solid red;

}
.tv-price {
    color: #FF136F;
}
.buy-btn {
    background-color: #FF136F;
    color: white;
    border: 2px solid blue;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 15px;
}
.tv-info , .tv-price {
    font-size: 2em;
}
.section-2{
    margin: 80px 12%;
}
.section-heading {
    font-weight: 700;
}
.categories {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}


.category-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#FF9C35 ,#FFD019);
    border-radius: 10px;
    padding: 10px 5%;
}
.category-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#FF589B ,#FF136F);
    border-radius: 10px;
    padding: 10px 5%;
}
.category-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#4289FF ,#3F07F8);
    border-radius: 10px;
    padding: 10px 5%;
}
.category-name {
    color: white;
    font-size: 30px;
}


.section-2{
    margin: 80px 12%;
}
.section-heading {
    font-weight: 700;
}
.shoes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}


.shoe-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#FF9C35 ,#FFD019);
    border-radius: 10px;
    padding: 10px 5%;
}
.shoe-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#FF589B ,#FF136F);
    border-radius: 10px;
    padding: 10px 5%;
}
.shoe-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#4289FF ,#3F07F8);
    border-radius: 10px;
    padding: 10px 5%;
}
.shoe-name {
    color: white;
    font-size: 30px;
}